<form [formGroup]="form">
  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" />
    @if (form.controls['email'].errors?.['required'] &&
    form.controls['email'].touched) {
    <div>Email is required.</div>
    }
  </div>

  <div>
    <label for="password">Passwort:</label>
    <input id="password" type="password" formControlName="password" />
    @if(form.controls['password'].errors?.['required'] &&
    form.controls['password'].touched){
    <div>Password is required.</div>
    }
  </div>

  <button [disabled]="!canRegister" (click)="tryRegister()">Register</button>
  <button [disabled]="!canLogin" (click)="tryLogin()">Login</button>
</form>
